* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculator {
  background-color: #fff;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  width: 100%;
  background-color: #fff;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
}

button {
  border: none;
}

.container > button {
  padding: 1.25rem 0;
  font-size: 1.75rem;
}

.display {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: right;
  background-color: #8d99ae;
  color: #fff;
}

.btn-end {
  background-color: #ee8434;
  text-align: center;
  padding-right: 0.18rem;
}

.result {
  font-size: 3rem;
}

.btn {
  background-color: #ebebd3;
  text-align: center;
}

.btn-zero {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #ebebd3;
  text-align: center;
}

.btn:focus{
  background-color: #8d99ae;
}
.btn-end:focus{
  background-color: #de5211;
}

button:hover {
  cursor: pointer;
  
}
